/*
============================ SUMMARY ============================
1. Imports and general styles(color, typo, button)
2. Homepage 
3. Header homepage 
4. Header product page 

*/

/* ============== 1. IMPORTS AND GENERAL STYLES ============= */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,400;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,900;1,400&display=swap');

:root {
 --font-abel:  'Abel', sans-serif;
 --font-poppins: 'Poppins', sans-serif;
 --font-playfair:  'Playfair Display', serif;

  
 --c-text: black;
--bg-white: white;
--bg-accent: #96AB9E;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-abel);
  color: var(--c-text);
  background-color: var(--bg-white);
  line-height:1.6;

}


button {
  background-color: purple;
}

.h1 {
 font-size:1.8rem;

}

/* ============== 3. Header (homepage) ============ */

.headerhome-cont {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.nav-insta-cont{
  display:flex;
  justify-content: space-around;

}

/* instabubble: */

.insta-container {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  /* border:1px red solid */
}

.bubble{
width: 70px;
height: 70px;
border-radius: 50%;
overflow: hidden;
border: 2px solid transparent;
background-image: linear-gradient(white, white), radial-gradient(circle at top left, red, orange);
background-origin: border-box;
background-clip: content-box, border-box;

border-right:0;
/* border-bottom:0; */
animation: instaloader 2s infinite linear;
position:relative;
}



@keyframes instaloader {
  0% {
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}



.thumb{
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}

.insta-img {
  width: 65px;
  height: 65px;
  border: 2px solid #fff;
  border-radius: 50%;
    /* display: block;  */
  object-fit: cover; 
 position:absolute;
 /* left:-10px; */

}



.text {

}

/* ============== 4. Header (productpages) ============ */

.header-container {

}

.banner {
  background-color: var(--bg-accent);
  display:flex;
  justify-content: center;
}

.banner-text {
  color:white;
}

.header-container--botttom{
  margin-top:20px;

 display: flex;
 justify-content: space-around;
}

.navbar-product-page{
  margin-top:10px;
}


 .logo{
/* background-image: url(../public/images/logo3.png); */
background-image: url(../src/images/logo4.png);
background-repeat: no-repeat;
background-size: cover;
background-position:center;
/* margin-left:30px; */
/* border:solid 1px red; */
 
}

.logo-home{
  height:100px;
  width: 200px;  
  /* background-size: cover;
  background-position:center; */
}

.logo-small{
  height:50px;
  width: 150px;
  /* border:1px red solid;  */
}


.navbar {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
}

li {
  display: inline;
  padding:10px;
 
  
}

a {
  text-decoration: none;
  color:var(--c-text)
}

li :hover{

font-weight: bold;
/* text-decoration: underline; */

} 

.header-icons{
display:flex;
justify-content: space-around;
width: 90px;
margin-top:13px;
}

.cart{
background-image: url(../public/images/cart.png);
height: 20px;
width: 20px;;
background-repeat: no-repeat;
background-size: contain;

}

.cart:hover{
height: 22px;;
width: 22px;;
}

.account{
  background-image: url(../public/images/account.png);
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  
  }
  
.account:hover{
  height: 22px;;
  width: 22px;;
  }
  .search{
    background-image: url(../public/images/search.png);
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    
    }
.search:hover{
  height: 22px;;
  width: 22px;
  }