/*
============================ SUMMARY ============================
1. Imports and general styles(color, typo, button)
2. Homepage 
3. Header homepage 
4. Header product page 

*/

/* ============== 1. IMPORTS AND GENERAL STYLES ============= */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,400;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,900;1,400&display=swap');

:root {
 --font-abel:  'Abel', sans-serif;
 --font-poppins: 'Poppins', sans-serif;
 --font-playfair:  'Playfair Display', serif;

  
 --c-text: black;
--bg-white: white;
--bg-accent: #96AB9E;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-abel);
  color: var(--c-text);
  background-color: var(--bg-white);
  line-height:1.6;

}


.btn {
  padding: 5px 15px;
  border-radius:30px;
  border:none;
  cursor:pointer;
  font-size:1rem;
}

.btn:hover{
  box-shadow:2px 2px 12px grey;
}

.h1 {
 font-size:1.8rem;

}

/* ============== 3. Header (homepage) ============ */

.headerhome-cont {
  display:flex;
  flex-direction: column;
   justify-content: center;
   align-items: center;
 
  /* border:1px purple solid */
}

.nav-insta-cont{
  display:flex;
  flex-direction:column;
 align-items: center;
 
  /* border:1px green solid; */
  width:100%;
}

.instabubble-cont-homepage {
  display:flex;
  align-self:flex-start;
  margin-left:8%;
  margin-top:-30px;
}

/* instabubble: */

.insta-container {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  /* border:1px red solid; */
  align-self:flex-start;
}


.bubble{
width: 70px;
height: 70px;
border-radius: 50%;
overflow: hidden;
border: 2px solid transparent;
background-image: linear-gradient(white, white), radial-gradient(circle at top left, red, orange);
background-origin: border-box;
background-clip: content-box, border-box;

border-right:0;
/* border-bottom:0; */
animation: instaloader 4s infinite linear;
position:relative;
}



@keyframes instaloader {
  0% {
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}



.thumb{
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}

.insta-img {
  width: 65px;
  height: 65px;
  border: 2px solid #fff;
  border-radius: 50%;
    /* display: block;  */
  object-fit: cover; 
 position:absolute;
 /* left:-10px; */
 cursor:pointer;

}

.insta-img:hover{
  opacity: 0.5 black;
  
}


.follow-text {
font-size: 0.7rem;
width: 120px;
margin-top:10px;
/* border: 1px solid blue */

}

/* ============== 4. Header (productpages) ============ */

.header-container {

}

.banner {
  background-color: var(--bg-accent);
  display:flex;
  justify-content: center;
  width: 100%;
}

.banner-text {
  color:white;
  cursor:default;
}

.header-container--botttom{
  margin-top:20px;

 display: flex;
 justify-content: space-around;
}

.navbar-product-page{
  margin-top:10px;
}


 .logo{
/* background-image: url(../public/images/logo3.png); */
background-image: url(../src/images/logo4.png);
background-repeat: no-repeat;
background-size: cover;
background-position:center;
/* margin-left:30px; */
/* border:solid 1px red; */
 
}

.logo-home{
  height:100px;
  width: 200px;  
  /* background-size: cover;
  background-position:center; */
}

.logo-small{
  height:50px;
  width: 150px;
  /* border:1px red solid;  */
}


.navbar {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
}

li {
  display: inline;
  padding:10px;
 
  
}

.links-nav{
  text-decoration: none;
  color:var(--c-text) 
}

.links-nav:hover{
  font-weight: 900;
}


.link-underline {
  /* text-decoration: none; */
  color:var(--c-text) ;
  
}


li :hover{

font-weight: bold;
/* text-decoration: underline; */

} 

.header-icons{
display:flex;
justify-content: space-around;
width: 90px;
margin-top:13px;
}

.cart{
background-image: url(../public/images/cart.png);
height: 20px;
width: 20px;;
background-repeat: no-repeat;
background-size: contain;

}

.cart:hover{
height: 22px;;
width: 22px;;
}

.account{
  background-image: url(../public/images/account.png);
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  
  }
  
.account:hover{
  height: 22px;;
  width: 22px;;
  }
  .search{
    background-image: url(../public/images/search.png);
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    
    }
.search:hover{
  height: 22px;;
  width: 22px;
  }

  /* ====== 5. COLLAGE (HOME) ========  */

  .featured-collage-container{
    padding: 5% 10% 5% 10%;
  }

  .img-collage-1{
    height:400px;
    width: 250px;
    
  }

  .img-collage-2{
    height:200px;
    width: 200px;
    
  }

  .img-collage-3{
    height:200px;
    width: 200px;
    
  }
  .img-collage-4{
    height:400px;
    width: 250px;
    
  }
  /* ====== 6. FEATURED COLLECTION (HOME) ========  */
  .featured-collection-container {
    background-color: var(--bg-accent);
    height: 500px;
    width: 100vw;
    padding:30px;

  }

  .title-homepage-featured-coll{
    color:white;
  }

  .btn-white{
    background-color:white;
    color: grey;
  }

    /* ====== 7. ABOUT US (HOME) ========  */


    .home-about-us-container{
       padding: 60px 30px; 
       display:flex;
       justify-content: space-around;
    }
    .about-us-text-cont{
      display:flex;
      flex-direction:column;
      align-items:center;
    }

    .home-about-us-img{
      width: 400px;
      height: 200px;
    }

    .about-us-text{
     margin-top:10px;
      width: 300px;
      text-align: center;
      margin-bottom:25px;
    }
    .btn-green {
        background-color: var(--bg-accent);
        color:white;
    }